* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
/* Layout */
.section {
    padding: 40px 0;
   
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

    /* debug */
    border: 1px solid lightgreen;
    min-height: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.col {
   width: calc((100% - 40px) / 3);

    /* debug */
    min-height: 100px;
    border: 2px solid black;
}

/* MAIN  */
/* Card */

.card-image {
    position: relative;
}

.card-image .front {
    position: relative;
}

.card-image .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Stato hover  */
.card-image:hover .back {
    z-index: 0;
}

.card-image .like {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    width: 40px;
    height: 40px;
    font-size: 30px;

    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.card-image .like:hover {
    color: red;
}