* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.header {
    background-color: orangered;
    padding: 20px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .logo {
    height: 40px;
}

.header ul {
    display: flex;
}

.header a {
    text-decoration: none;
    color: white;
}


ul {
    list-style: none;
    gap: 10px;
}

/* COMMON */
/* Layout */
.section {
    padding: 40px 0;
   
}

.logo {

}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.col {
   width: calc((100% - 40px) / 3);

    /* debug */
    min-height: 100px;
    border: 2px solid black;
}

/* MAIN  */

main {
    padding-top: 100px;
}

/* Card */

.card-image {
    position: relative;
}

.card-image .front {
    position: relative;
}

.card-image .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Stato hover  */
.card-image:hover .back {
    z-index: 0;
}

.card-image .like {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    width: 40px;
    height: 40px;
    font-size: 30px;

    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.card-image .like:hover {
    color: red;
}

.tags {
    position: absolute;
    bottom: 30px;
    left: 0;
    font-size: .8rem;
}

.tags .discount {
    background-color: red;
    color: white;
    padding: 5px;
}

.tags .eco {
    background-color: green;
    color: white;
    padding: 5px;
}

.price .discounted {
    color: red;
}
/* /Main  */

/* Footer  */

.footer {
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    padding-left: 180px;
}

.footer-container {

}

.footer ul {
    display: flex;
    list-style: none;
    
}



/* /Footer  */

